.strip {
  display: flex;
  width: 100%;
  border-radius: var(--space-0-5);
  overflow: hidden;
  border: 1px solid var(--color-border-subtle);
}

.segment {
  display: block;
  height: 100%;
  flex-shrink: 0;
}
